$baseline: 1.5rem;

$background:#f9f9f9;
$color: #222;

$links: #009;
$hover-links: #c00;
$visited-links: #204984;

$font-size: 1.125rem;
$font-family: Segoe UI,system-ui,-apple-system,sans-serif;
$line-height: 1.75;
$code_font: 400 1.125rem/1.75 SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
