<div v-if="depth==0 && elt.kind=='SCALAR'"></div>
<div v-else-if="elt.kind=='SCALAR' || elt.kind=='ENUM'" class="form-check">
  <input class="form-check-input" type="checkbox" v-model="elt._include">
  <label class="form-check-label">{{ name || elt.name }}</label>
</div>
<v-output-type v-else-if="elt.kind=='NON_NULL' || elt.kind=='LIST'" :elt="elt.ofType" :name="name || elt.name" :depth="depth"></v-output-type>
<div v-else-if="elt.kind=='OBJECT'">
  <div class="form-check" v-if="depth!=0">
    <input class="form-check-input" type="checkbox" v-model="elt._include">
    <label class="form-check-label">{{ name || elt.name }}</label>
  </div>
  <div class="row">
    <div v-for="(f, i) in elt.fields" :class="depth==0 ? 'col-12' : 'col-11 offset-1'">
      <v-output-type :elt="f.type" :name="f.name" :depth="depth+1"></v-output-type>
    </div>
  </div>
</div>
<div v-else>
  <v-json :data="elt"></v-json>
</div>
