[package]
name = "zef-service"
version = "0.1.0"
authors = ["Zefchain <devops@zefchain.com>"]
edition = "2021"

[dependencies]
anyhow = "1.0.57"
async-trait = "0.1.52"
bcs = "0.1.3"
bincode = "1.3.3"
bytes = "1.1.0"
clap = "2.33.3"
dyn-clone = "1.0.4"
env_logger = "0.9.0"
futures = "0.3.17"
log = "0.4.14"
net2 = "0.2.37"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
structopt = "0.3.23"
thiserror = "1.0.31"
tokio = { version = "1.12.0", features = ["full"] }
tokio-util = { version = "0.6.9", features = ["codec", "net"] }

zef-core = { path = "../zef-core" }
zef-base = { path = "../zef-base" }
zef-storage = { path = "../zef-storage" }

[dev-dependencies]
tempfile = "3.2.0"

[[bin]]
name = "client"
path = "src/client.rs"

[[bin]]
name = "server"
path = "src/server.rs"
