[workspace]
members = [
        "linera-base",
        "linera-chain",
        "linera-core",
        "linera-execution",
        "linera-rpc",
        "linera-sdk",
        "linera-service",
        "linera-storage",
        "linera-views",
        "linera-views-derive",
]
exclude = [
        "linera-examples",
]
resolver = "2"

[profile.release]
debug = true

[profile.bench]
debug = true

# This section is experimental and requires to build `cargo-all-features` from the fork
# repository: https://github.com/ma2bd/cargo-all-features
[workspace.metadata.cargo-all-features]
skip_optional_dependencies = true
max_combination_size = 1

# Make sure to compile VMs with high optimization level
[profile.dev.package.wasmer]
opt-level = 3

[profile.dev.package.wasmer-middlewares]
opt-level = 3

[profile.dev.package.wasmparser]
opt-level = 3

[profile.dev.package.wasmtime]
opt-level = 3
