[workspace]
members = [
    "linera-base",
    "linera-chain",
    "linera-core",
    "linera-execution",
    "linera-explorer",
    "linera-indexer/example",
    "linera-indexer/graphql-client",
    "linera-indexer/lib",
    "linera-indexer/plugins",
    "linera-rpc",
    "linera-sdk",
    "linera-sdk-derive",
    "linera-sdk/wasm-tests",
    "linera-service",
    "linera-service-graphql-client",
    "linera-storage",
    "linera-views",
    "linera-views-derive",
    "linera-witty",
    "linera-witty-macros",
    "linera-witty/test-modules"
]
exclude = ["examples", "scripts"]
resolver = "2"

[workspace.dependencies]
heck = "0.4.1"
anyhow = "1.0.75"
async-graphql = "5.0.10"
async-graphql-axum = "5.0.10"
async-lock = "2.8.0"
async-trait = "0.1.74"
aws-config = "1.0.1"
aws-sdk-dynamodb = "1.3.0"
aws-sdk-s3 = "1.4.0"
aws-smithy-http = "0.60.0"
aws-types = "1.0.1"
aws-smithy-types = "1.0.2"
axum = "0.6.20"
base64 = "0.21.7"
bcs = "0.1.6"
bincode = "1.3.3"
bytes = "1.5.0"
cargo_metadata = "0.18.1"
cargo_toml = "0.15.3"
chrono = "0.4.31"
clap = { version = "4", features = ["cargo", "derive", "env"] }
clap-markdown = "0.1.3"
colored = "2.0.4"
comfy-table = "6.2.0"
convert_case = "0.6.0"
criterion = "0.4.0"
custom_debug_derive = "0.5.1"
dashmap = "5.5.3"
derive_more = "0.99.17"
dirs = "5.0.1"
ed25519 = "1.5.3"
ed25519-dalek = { version = "1.0.1", features = ["batch", "serde"] }
either = "1.9.0"
frunk = "0.4.2"
fs-err = { version = "2.11.0", features = ["tokio"] }
fs_extra = "1.3.0"
futures = "0.3.29"
generic-array = { version = "0.14.7", features = ["serde"] }
hex = "0.4.3"
http = "0.2.9"
glob = "0.3.1"
insta = "1.34.0"
log = "0.4.20"
lru = "0.9.0"
linked-hash-map = "0.5.6"
once_cell = "1.18.0"
oneshot = "0.1.6"
port-selector = "0.1.6"
prettyplease = "0.2.15"
prometheus = "0.13.3"
proc-macro-error = "1.0.4"
proc-macro2 = "1.0"
proptest = "1.3.1"
prost = "0.11"
quote = "1.0"
rand = "0.8.5"
rand07 = { package = "rand", version = "0.7.3" }
rand_chacha = "0.3.1"
rand_distr = "0.4.3"
k8s-openapi = { version = "0.20.0", features = ["v1_28"] }
pathdiff = "0.2.1"
kube = "0.87.1"
rcgen = "0.11.1"
reqwest = { version = "0.11.14", default-features = false, features = ["rustls-tls"] }
rocksdb = "0.21.0"
scylla = "0.10.1"
semver = "1.0.20"
serde = { version = "1.0.190", features = ["derive"] }
serde_bytes = "0.11.12"
serde_json = "1.0.107"
serde_yaml = "0.8.26"
serde-name = "0.2.1"
serde-reflection = "0.3.6"
sha3 = "0.10.8"
similar-asserts = "1.5.0"
static_assertions = "1.1.0"
syn = "2.0.39"
tempfile = "3.8.1"
test-case = "3.2.1"
test-log = { version = "0.2.13", default-features = false, features = ["trace"] }
test-strategy = "0.2.1"
thiserror = "1.0.50"
tonic = { version = "0.8", features = ["tls", "tls-roots", "transport"] }
tonic-build = "0.8"
tonic-health = "0.8"
tokio = "1.33.0"
tokio-stream = "0.1.14"
tokio-test = "0.4.3"
tokio-util = "0.6.10"
toml = "0.7.8"
tower-http = "0.4.4"
tower = "0.4.13"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17", default-features = false, features = ["env-filter"] }
wasm-encoder = "0.24.1"
wasmer = { version = "=3.1.1", features = ["singlepass"] }
wasmer-middlewares = "=3.1.1"
wasmer-vm = { version = "=3.1.1" }
wasmparser = "0.101.1"
wasmtime = "1.0"
webassembly-test = "0.1.0"
wit-bindgen-guest-rust = { version = "0.2.0", package = "linera-wit-bindgen-guest-rust" }
wit-bindgen-host-wasmer-rust = { version = "0.2.0", package = "linera-wit-bindgen-host-wasmer-rust" }
wit-bindgen-host-wasmtime-rust = { version = "0.2.0", package = "linera-wit-bindgen-host-wasmtime-rust" }

linera-base = { version = "0.8.0", path = "./linera-base" }
linera-chain = { version = "0.8.0", path = "./linera-chain" }
linera-core = { version = "0.8.0", path = "./linera-core", default-features = false }
linera-execution = { version = "0.8.0", path = "./linera-execution", default-features = false }
linera-indexer = { path = "./linera-indexer/lib" }
linera-indexer-example = { path = "./linera-indexer/example" }
linera-indexer-graphql-client = { path = "./linera-indexer/graphql-client" }
linera-indexer-plugins = { path = "./linera-indexer/plugins" }
linera-rpc = { version = "0.8.0", path = "./linera-rpc" }
linera-sdk = { version = "0.8.0", path = "./linera-sdk" }
linera-storage = { version = "0.8.0", path = "./linera-storage", default-features = false }
linera-version = { version = "0.8.0", path = "./linera-version" }
linera-views = { version = "0.8.0", path = "./linera-views", default-features = false }
linera-views-derive = { version = "0.8.0", path = "./linera-views-derive" }
linera-witty = { version = "0.8.0", path = "./linera-witty" }
linera-witty-macros = { version = "0.8.0", path = "./linera-witty-macros" }
linera-sdk-derive = { version = "0.8.0", path = "./linera-sdk-derive" }
linera-service = { version = "0.8.0", path = "./linera-service" }
linera-service-graphql-client = { version = "0.8.0", path = "./linera-service-graphql-client" }

counter = { path = "./examples/counter" }
meta-counter = { path = "./examples/meta-counter" }
fungible = { path = "./examples/fungible" }
crowd-funding = { path = "./examples/crowd-funding" }
matching-engine = { path = "./examples/matching-engine" }
social = { path = "./examples/social" }
amm = { path = "./examples/amm" }

[profile.release]
debug = true

[profile.bench]
debug = true

# This section is experimental and requires to build `cargo-all-features` from the fork
# repository: https://github.com/ma2bd/cargo-all-features
[workspace.metadata.cargo-all-features]
skip_optional_dependencies = true
max_combination_size = 1

# Make sure to compile VMs with high optimization level
[profile.dev.package.wasmer]
opt-level = 3

[profile.dev.package.wasmer-middlewares]
opt-level = 3

[profile.dev.package.wasmparser]
opt-level = 3

[profile.dev.package.wasmtime]
opt-level = 3
