[workspace]
members = [
    "linera-base",
    "linera-chain",
    "linera-core",
    "linera-ethereum",
    "linera-execution",
    "linera-explorer",
    "linera-indexer/example",
    "linera-indexer/graphql-client",
    "linera-indexer/lib",
    "linera-indexer/plugins",
    "linera-rpc",
    "linera-sdk",
    "linera-sdk-derive",
    "linera-service",
    "linera-service-graphql-client",
    "linera-storage",
    "linera-storage-service",
    "linera-views",
    "linera-views-derive",
    "linera-witty",
    "linera-witty-macros",
    "linera-witty/test-modules",
]
exclude = ["examples", "scripts"]
resolver = "2"

[workspace.package]
version = "0.11.0"
authors = ["Linera <contact@linera.io>"]
repository = "https://github.com/linera-io/linera-protocol"
homepage = "https://linera.dev"
license = "Apache-2.0"
edition = "2021"

[workspace.dependencies]
heck = "0.4.1"
alloy = { git = "https://github.com/alloy-rs/alloy", rev = "b79db21734cffddc11753fe62ba571565c896f42", default-features = false }
alloy-primitives = "0.7.2"
anyhow = "1.0.80"
assert_matches = "1.5.0"
async-graphql = "=7.0.2"
async-graphql-axum = "=7.0.2"
async-graphql-derive = "=7.0.2"
async-lock = "3.3.0"
async-trait = "0.1.77"
aws-config = "1.1.7"
aws-sdk-dynamodb = "1.16.0"
aws-sdk-s3 = "1.17.0"
aws-smithy-http = "0.60.6"
aws-types = "1.1.7"
aws-smithy-types = "1.1.7"
axum = "0.7.4"
base64 = "0.22.0"
bcs = "0.1.6"
bincode = "1.3.3"
bytes = "1.5.0"
cargo_metadata = "0.18.1"
cargo_toml = "0.19.2"
cfg-if = "1.0.0"
cfg_aliases = "0.2.0"
chrono = { version = "0.4.35", default-features = false }
clap = { version = "4", features = ["cargo", "derive", "env"] }
clap-markdown = "0.1.3"
colored = "2.1.0"
comfy-table = "7.1.0"
convert_case = "0.6.0"
criterion = { version = "0.5.1", default-features = false }
custom_debug_derive = "0.6.1"
dashmap = "5.5.3"
derive_more = "0.99.17"
dirs = "5.0.1"
ed25519-dalek = { version = "2.1.1", features = ["batch", "serde"] }
either = "1.10.0"
ethers = { version = "2.0.14", features = ["solc"] }
frunk = "0.4.2"
fs-err = { version = "2.11.0", features = ["tokio"] }
fs4 = "0.8.2"
fs_extra = "1.3.0"
futures = "0.3.30"
genawaiter = "0.99.1"
generic-array = { version = "0.14.7", features = ["serde"] }
getrandom = "0.2.12"
hex = "0.4.3"
http = "1.1.0"
glob = "0.3.1"
indexed_db_futures = "0.4.1"
insta = "1.36.1"
log = "0.4.21"
lru = "0.12.3"
linked-hash-map = "0.5.6"
num-bigint = "0.4.3"
num-traits = "0.2.18"
once_cell = "1.19.0"
oneshot = "0.1.6"
port-selector = "0.1.6"
prettyplease = "0.2.16"
prometheus = "0.13.3"
proc-macro-error = "1.0.4"
proc-macro2 = "1.0"
proptest = { version = "1.4.0", default-features = false, features = ["alloc"] }
prost = "0.12.3"
quote = "1.0"
rand = { version = "0.8.5", default-features = false }
rand_chacha = { version = "0.3.1", default-features = false }
rand_distr = { version = "0.4.3", default-features = false }
k8s-openapi = { version = "0.21.1", features = ["v1_28"] }
pathdiff = "0.2.1"
kube = "0.88.1"
rcgen = "0.12.1"
reqwest = { version = "0.11.24", default-features = false, features = ["rustls-tls"] }
rocksdb = "0.21.0"
scylla = "0.12.0"
semver = "1.0.22"
serde = { version = "1.0.197", features = ["derive"] }
serde_bytes = "0.11.14"
serde_json = "1.0.114"
serde_yaml = "0.8.26"
serde-name = "0.2.1"
serde-reflection = "0.3.6"
sha3 = "0.10.8"
similar-asserts = "1.5.0"
static_assertions = "1.1.0"
syn = "2.0.52"
tempfile = "3.10.1"
test-case = "3.3.1"
test-log = { version = "0.2.15", default-features = false, features = ["trace"] }
test-strategy = "0.3.1"
thiserror = "1.0.57"
tonic = { version = "0.11", default-features = false }
tonic-build = { version = "0.11", default-features = false }
tonic-health = "0.11"
tonic-reflection = "0.11"
tonic-web = "0.11"
tonic-web-wasm-client = "0.5.1"
tokio = "1.36.0"
tokio-stream = "0.1.14"
tokio-test = "0.4.3"
tokio-util = "0.7.10"
toml = "0.8.10"
tower-http = "0.5.2"
tower = "0.4.13"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", default-features = false, features = ["env-filter"] }
trait-variant = "0.1.1"
url = "2.4"
wasm-bindgen = "0.2.92"
wasm-bindgen-test = "0.3.42"
wasm-encoder = "0.24.1"
wasm-instrument = "0.4.0"
wasmer = { version = "4.3.0-alpha.1", features = ["singlepass"] }
wasmer-compiler-singlepass = "4.3.0-alpha.1"
wasmparser = "0.101.1"
wasmtime = "1.0"
wasmtimer = "0.2.0"
webassembly-test = "0.1.0"
web-sys = "0.3.69"
web-time = "1.1.0"
wit-bindgen = "0.24.0"

linera-base = { version = "0.11.0", path = "./linera-base" }
linera-chain = { version = "0.11.0", path = "./linera-chain" }
linera-core = { version = "0.11.0", path = "./linera-core", default-features = false }
linera-ethereum = { version = "0.11.0", path = "./linera-ethereum", default-features = false }
linera-execution = { version = "0.11.0", path = "./linera-execution", default-features = false }
linera-indexer = { path = "./linera-indexer/lib" }
linera-indexer-graphql-client = { path = "./linera-indexer/graphql-client" }
linera-indexer-plugins = { path = "./linera-indexer/plugins" }
linera-rpc = { version = "0.11.0", path = "./linera-rpc" }
linera-sdk = { version = "0.11.0", path = "./linera-sdk" }
linera-storage = { version = "0.11.0", path = "./linera-storage", default-features = false }
linera-storage-service = { version = "0.11.0", path = "./linera-storage-service", default-features = false }
linera-version = { version = "0.11.0", path = "./linera-version" }
linera-views = { version = "0.11.0", path = "./linera-views", default-features = false }
linera-views-derive = { version = "0.11.0", path = "./linera-views-derive" }
linera-witty = { version = "0.11.0", path = "./linera-witty" }
linera-witty-macros = { version = "0.11.0", path = "./linera-witty-macros" }
linera-sdk-derive = { version = "0.11.0", path = "./linera-sdk-derive" }
linera-service = { version = "0.11.0", path = "./linera-service" }
linera-service-graphql-client = { version = "0.11.0", path = "./linera-service-graphql-client" }

counter = { path = "./examples/counter" }
meta-counter = { path = "./examples/meta-counter" }
ethereum-tracker = { path = "./examples/ethereum-tracker" }
fungible = { path = "./examples/fungible" }
native-fungible = { path = "./examples/native-fungible" }
non-fungible = { path = "./examples/non-fungible" }
crowd-funding = { path = "./examples/crowd-funding" }
matching-engine = { path = "./examples/matching-engine" }
social = { path = "./examples/social" }
amm = { path = "./examples/amm" }

[profile.release]
debug = true

[profile.bench]
debug = true

# This section is experimental and requires to build `cargo-all-features` from the fork
# repository: https://github.com/ma2bd/cargo-all-features
[workspace.metadata.cargo-all-features]
skip_optional_dependencies = true
max_combination_size = 1

# Make sure to compile VMs with high optimization level
[profile.dev.package.wasmer]
opt-level = 3

[profile.dev.package.wasmparser]
opt-level = 3

[profile.dev.package.wasmtime]
opt-level = 3

[patch.crates-io.indexed_db_futures]
version = "0.4.1"
git = "https://github.com/Twey/rust-indexed-db"
branch = "no-uuid-wasm-bindgen"
