[workspace]
members = [
        "linera-base",
        "linera-chain",
        "linera-core",
        "linera-execution",
        "linera-rpc",
        "linera-service",
        "linera-storage",
        "linera-views",
]

[profile.release]
debug = true

[profile.bench]
debug = true
