<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../iri_string/template/struct.UriTemplateVariables.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../iri_string/template/struct.UriTemplateVariables.html">../../../iri_string/template/struct.UriTemplateVariables.html</a>...</p>
    <script>location.replace("../../../iri_string/template/struct.UriTemplateVariables.html" + location.search + location.hash);</script>
</body>
</html>