[package]
name = "linera-core"
description = "The core Linera protocol, including client and server logic, node synchronization, etc."
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
readme = "README.md"
repository = "https://github.com/linera-io/linera-protocol"
homepage = "https://linera.io"
license = "Apache-2.0"
edition = "2021"

[features]
default = ["wasmer"]
wasmer = ["linera-execution/wasmer", "linera-storage/wasmer"]
wasmtime = ["linera-execution/wasmtime", "linera-storage/wasmtime"]
test = [
    "linera-base/test", "linera-chain/test", "linera-execution/test", "linera-storage/test",
    "linera-views/test", "proptest", "tempfile", "test-log", "test-strategy", "tokio/parking_lot",
]
aws = ["linera-views/aws", "linera-storage/aws"]

[dependencies]
anyhow = "1.0.57"
async-trait = "0.1.52"
async-graphql = "5.0.5"
dashmap = "5.4.0"
futures = "0.3.17"
linera-base = { path = "../linera-base" }
linera-chain = { path = "../linera-chain" }
linera-execution = { path = "../linera-execution", default-features = false }
linera-storage = { path = "../linera-storage", default-features = false }
linera-views = { path = "../linera-views" }
tracing = "0.1.37"
lru = "0.9.0"
proptest = { version = "1.0.0", optional = true }
rand = "0.7.3"
serde = { version = "1.0.130", features = ["derive"] }
tempfile = { version = "3.2.0", optional = true }
test-strategy = { version = "0.2.0", optional = true }
test-log = { version = "0.2.11", default-features = false, features = ["trace"], optional = true }
thiserror = "1.0.31"
tokio = "1.25.0"
tokio-stream = "0.1.11"

[dev-dependencies]
bcs = "0.1.3"
criterion = { version = "0.4.0", features = ["async_tokio"] }
fungible = { path = "../linera-examples/fungible" }
linera-core = { path = ".", default-features = false, features = ["test"] }
metrics = "0.20.1"
metrics-util = "0.14.0"
portable-atomic = "0.3.19"
serde_json = "1.0.93"
social = { path = "../linera-examples/social" }
test-case = "3.0.0"
tracing-subscriber = { version = "0.3.16", default-features = false, features = ["env-filter", "fmt"] }

[package.metadata.cargo-machete]
ignored = ["proptest", "async-graphql"]

[[bench]]
name = "client_benchmarks"
harness = false
required-features = ["test"]
