[package]
name = "linera-execution"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[features]
default = ["wasmer", "wasmtime"]
test = ["tokio/macros", "async-lock", "once_cell"]
wasmer = ["dep:wasmer", "wasm-encoder", "wasmer-middlewares", "wasmparser", "wit-bindgen-host-wasmer-rust"]
wasmtime = ["dep:wasmtime", "wasm-encoder", "wasmparser", "wit-bindgen-host-wasmtime-rust"]

[dependencies]
anyhow = "1.0.57"
async-lock = { version = "2.6.0", optional = true }
async-trait = "0.1.52"
async-graphql = "5.0.5"
bcs = "0.1.3"
custom_debug_derive = "0.5.0"
dashmap = "5.3.4"
derive_more = "0.99.17"
futures = "0.3.24"
linera-base = { path = "../linera-base" }
linera-views = { path = "../linera-views" }
linera-views-derive = { path = "../linera-views-derive" }
once_cell = { version = "1.17.1", optional = true }
log = "0.4.14"
serde = { version = "1.0.130", features = ["derive"] }
serde_bytes = "0.11.8"
thiserror = "1.0.31"
tokio = { version = "1.25.0", features = ["fs"] }
wasm-encoder = { version = "0.24.1", optional = true }
wasmer = { version = "3.0.0-rc.2", optional = true, features = ["singlepass"] }
wasmer-middlewares = { version = "3.1.1", optional = true }
wasmparser = { version = "0.101.1", optional = true }
wasmtime = { version = "1.0", optional = true }
wit-bindgen-host-wasmer-rust = { git = "https://github.com/jvff/wit-bindgen", rev = "4f25d5363360c049e3415c32f5654faea5f874ce", optional = true }
wit-bindgen-host-wasmtime-rust = { git = "https://github.com/jvff/wit-bindgen", rev = "4f25d5363360c049e3415c32f5654faea5f874ce", optional = true }

[dev-dependencies]
anyhow = "1.0.57"
bcs = "0.1.3"
env_logger = "0.9.0"
linera-base = { path = "../linera-base", features = ["test"] }
linera-execution = { path = ".", default-features = false, features = ["test"] }
test-case = "3.0.0"
test-log = "0.2.10"
tokio = { version = "1.25.0", features = ["full", "test-util"] }

[package.metadata.cargo-machete]
ignored = ["serde_bytes"]
