[package]
name = "linera-execution"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[features]
default = ["wasmtime"]
test = ["tokio/macros", "async-lock"]
wasmer = ["dep:wasmer", "wit-bindgen-host-wasmer-rust"]
wasmtime = ["dep:wasmtime", "wit-bindgen-host-wasmtime-rust"]

[dependencies]
anyhow = "1.0.57"
async-lock = { version = "2.6.0", optional = true }
async-trait = "0.1.52"
async-graphql = "5.0.5"
bcs = "0.1.3"
custom_debug_derive = "0.5.0"
dashmap = "5.3.4"
derive_more = "0.99.17"
futures = "0.3.24"
linera-base = { path = "../linera-base" }
linera-views = { path = "../linera-views" }
linera-views-derive = { path = "../linera-views-derive" }
log = "0.4.14"
serde = { version = "1.0.130", features = ["derive"] }
serde_bytes = "0.11.8"
thiserror = "1.0.31"
tokio = { version = "1.12.0", features = ["fs"] }
wasmer = { version = "3.0.0-rc.2", optional = true }
wasmtime = { version = "1.0", optional = true }
wit-bindgen-host-wasmer-rust = { git = "https://github.com/jvff/wit-bindgen", rev = "081e2839303345c96a4ebd1eee259683593de1a0", optional = true }
wit-bindgen-host-wasmtime-rust = { git = "https://github.com/jvff/wit-bindgen", rev = "081e2839303345c96a4ebd1eee259683593de1a0", optional = true }

[dev-dependencies]
anyhow = "1.0.57"
bcs = "0.1.3"
linera-execution = { path = ".", default-features = false, features = ["test"] }
tokio = { version = "1.12.0", features = ["full", "test-util"] }

[package.metadata.cargo-machete]
ignored = ["serde_bytes"]
