[package]
name = "linera-execution"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[features]
test = []

[dependencies]
log = "0.4.14"
once_cell = "1.13.0"
serde = { version = "1.0.130", features = ["derive"] }
thiserror = "1.0.31"
tokio = "1.12.0"

linera-base = { path = "../linera-base" }
linera-views = { path = "../linera-views" }
