[package]
name = "create-and-call"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[dependencies]
counter-no-graphql = { path = "../counter-no-graphql" }
linera-sdk.workspace = true
serde.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
linera-sdk = { workspace = true, features = ["test", "wasmer"] }
tokio.workspace = true

[[bin]]
name = "create_and_call_contract"
path = "src/contract.rs"

[[bin]]
name = "create_and_call_service"
path = "src/service.rs"
