[package]
name = "linera-service"
version = "0.1.0"
description = "Executable for clients (aka CLI wallets), proxy (aka validator frontend) and servers of the Linera protocol."
authors = ["Linera <contact@linera.io>"]
readme = "README.md"
repository = "https://github.com/linera-io/linera-protocol"
homepage = "https://linera.io"
documentation = "https://docs.rs/linera-service/latest/linera_service/"
license = "Apache-2.0"
edition = "2021"

[features]
default = ["wasmer"]
benchmark = ["linera-base/test"]
wasmer = ["linera-execution/wasmer", "linera-storage/wasmer"]
wasmtime = ["linera-execution/wasmtime", "linera-storage/wasmtime"]
aws = ["linera-views/aws", "linera-core/aws", "linera-storage/aws"]

[dependencies]
anyhow = { workspace = true }
async-graphql = { workspace = true }
async-graphql-axum = { workspace = true }
async-trait = { workspace = true }
axum = { workspace = true, features = ["ws", "headers"] }
bcs = { workspace = true }
chrono = { workspace = true }
colored = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
linera-base = { workspace = true }
linera-chain = { workspace = true }
linera-core = { workspace = true }
linera-execution = { workspace = true }
linera-rpc = { workspace = true }
linera-storage = { workspace = true }
linera-views = { workspace = true }
metrics-exporter-tcp = { workspace = true }
tracing = { workspace = true }
parse_duration = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
structopt = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tokio-stream = { workspace = true }
toml = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
tower-http = { workspace = true, features = ["cors"] }
tracing-subscriber = { workspace = true, features = ["fmt"] }
comfy-table = { workspace = true }
dirs = { workspace = true }
file-lock = "2.1.9"

[dev-dependencies]
linera-base = { workspace = true, features = ["test"] }
linera-chain = { workspace = true, features = ["test"] }
linera-core = { workspace = true, features = ["test"] }
linera-execution = { workspace = true, features = ["test"] }
linera-rpc = { workspace = true, features = ["test"] }
linera-storage = { workspace = true, features = ["test"] }
linera-views = { workspace = true, features = ["rocksdb", "test"] }
once_cell = { workspace = true }
proptest = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
tempfile = { workspace = true }
test-log = { workspace = true, features = ["trace"] }
test-strategy = { workspace = true }
tokio = { workspace = true, features = ["full", "test-util"] }
counter = { workspace = true }
fungible = { workspace = true }
crowd-funding = { workspace = true }

[[bin]]
name = "linera"
path = "src/linera.rs"

[[bin]]
name = "server"
path = "src/server.rs"

[[bin]]
name = "proxy"
path = "src/proxy.rs"
