[package]
name = "linera-ethereum"
version = "0.11.0"
description = "Oracle functionality for Ethereum"
authors = ["Linera <contact@linera.io>"]
readme = "README.md"
repository = "https://github.com/linera-io/linera-protocol"
homepage = "https://linera.dev"
documentation = "https://docs.rs/linera-ethereum/latest/linera_ethereum/"
license = "Apache-2.0"
edition = "2021"

[package.metadata.docs.rs]
features = ["ethereum"]

[features]
ethereum = []

[dependencies]
alloy.workspace = true
alloy-primitives.workspace = true
anyhow.workspace = true
async-trait.workspace = true
bcs.workspace = true
linera-storage-service.workspace = true
num-bigint.workspace = true
num-traits.workspace = true
reqwest = { workspace = true, features = ["json"] }
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
url.workspace = true

[build-dependencies]
cfg_aliases.workspace = true
