apiVersion: v1
kind: Service
metadata:
  name: validator-1
  labels:
    app: validator-1
spec:
  type: LoadBalancer
  loadBalancerIP: 34.151.215.158
  selector:
    app: validator-1
  ports:
    - name: zef
      protocol: TCP
      port: 19100
      targetPort: linera-port
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: validator-1
spec:
  selector:
    matchLabels:
      app: validator-1
  replicas: 1
  template:
    metadata:
      labels:
        app: validator-1
    spec:
      serviceAccountName: linera-admin
      terminationGracePeriodSeconds: 10
      containers:
        - name: linera-proxy
          imagePullPolicy: Never
          image: {{ .Values.lineraImage }}
          ports:
            - containerPort: 19100
              name: linera-port
          command: ["./linera-proxy"]
          args: ["server_1.json", "--kube"]
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
