apiVersion: v1
kind: Service
metadata:
  annotations:
    cloud.google.com/app-protocols: '{"linera-port":"HTTP2"}'
    cloud.google.com/backend-config: '{"default": "proxy-backend-config"}'
  name: proxy
  labels:
    app: proxy
spec:
  ports:
    - port: {{ .Values.proxyPort }}
      name: linera-port
      targetPort: {{ .Values.proxyPort }}
    - port: {{ .Values.metricsPort }}
      name: metrics
  selector:
    app: proxy
  clusterIp: None

---
apiVersion: v1
kind: Service
metadata:
  name: proxy-internal
  labels:
    app: proxy
spec:
  ports:
    - port: 20100
      name: proxy-internal
  clusterIP: None
  selector:
    app: proxy
---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: proxy
spec:
  serviceName: "proxy-internal"
  selector:
    matchLabels:
      app: proxy
  replicas: {{ .Values.numProxies }}
  podManagementPolicy: Parallel
  template:
    metadata:
      labels:
        app: proxy
    spec:
      terminationGracePeriodSeconds: 10
      initContainers:
        - name: linera-proxy-initializer
          image: {{ .Values.lineraImage }}
          imagePullPolicy: {{ .Values.lineraImagePullPolicy }}
          command: ["./proxy-init.sh"]
          env:
            - name: RUST_LOG
              value: {{ .Values.logLevel }}
            - name: RUST_BACKTRACE
              value: "1"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: {{ .Values.otelExporterEndpoint }}
      containers:
        - name: linera-proxy
          imagePullPolicy: {{ .Values.lineraImagePullPolicy }}
          image: {{ .Values.lineraImage }}
          ports:
            - containerPort: {{ .Values.proxyPort }}
              name: linera-port
            - containerPort: 20100
              name: private-port
          command: ["./proxy-entrypoint.sh", {{ .Values.storageReplicationFactor | quote }}]
          env:
            - name: RUST_LOG
              value: {{ .Values.logLevel }}
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: {{ .Values.otelExporterEndpoint }}
          volumeMounts:
            - name: config
              mountPath: "/config"
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: validator-config
            items:
              - key: serverConfig
                path: server.json
              - key: genesisConfig
                path: genesis.json
