[package]
name = "linera-witty-macros"
description = "Procedural macros for generation of WIT compatible host code from Rust code"
readme = "README.md"
documentation = "https://docs.rs/linera-witty-macros/latest/linera_witty_macros/"

authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[lib]
proc-macro = true

[features]
test = ["syn/extra-traits"]
wasmer = ["syn/extra-traits"]
wasmtime = ["syn/extra-traits"]

[dependencies]
heck.workspace = true
proc-macro-error.workspace = true
proc-macro2.workspace = true
quote.workspace = true
syn = { workspace = true, features = ["full"] }

[build-dependencies]
cfg_aliases.workspace = true
