[package]
name = "linera-rpc"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[features]
test = []

[dependencies]
bcs = "0.1.3"
ed25519 = "1.2.0"
ed25519-dalek = { version = "1.0.1", features = ["batch", "serde"] }
generic-array = { version = "0.14.4", features = ["serde"] }
hex = "0.4.3"
linera-base = { path = "../linera-base" }
linera-chain = { path = "../linera-chain" }
linera-core = { path = "../linera-core" }
linera-execution = { path = "../linera-execution" }
log = "0.4.14"
once_cell = "1.13.0"
proptest = { version = "1.0.0", optional = true }
rand = "0.7.3"
serde = { version = "1.0.130", features = ["derive"] }
serde-name = "0.2.0"
sha2 = "0.9.8"
thiserror = "1.0.31"

[dev-dependencies]
linera-base = { path = "../linera-base", features = ["test"] }
linera-chain = { path = "../linera-chain", features = ["test"] }
linera-core = { path = "../linera-core", features = ["test"] }
linera-execution = { path = "../linera-execution", features = ["test"] }
linera-rpc = { path = ".", features = ["test"] }
linera-storage = { path = "../linera-storage", features = ["test"] }
serde-reflection = "0.3.5"
serde_yaml = "0.8.21"
similar-asserts = "1.1.0"
structopt = "0.3.23"
