[target.aarch64-unknown-linux-gnu]
linker = "aarch64-linux-gnu-gcc"

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=lld"]

[build]
# We allow redundant explicit links because `cargo rdme` doesn't know how to resolve implicit intra-crate links.
rustdocflags = ["-Arustdoc::redundant_explicit_links"]
