<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../wast/component/struct.ComponentFunctionType.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../wast/component/struct.ComponentFunctionType.html">../../../wast/component/struct.ComponentFunctionType.html</a>...</p>
    <script>location.replace("../../../wast/component/struct.ComponentFunctionType.html" + location.search + location.hash);</script>
</body>
</html>