[workspace]
resolver = "2"
members = [
    "amm",
    "counter",
    "crowd-funding",
    "fungible",
    "matching-engine",
    "meta-counter",
    "social"
]

[workspace.dependencies]
async-graphql = { version = "5.0.7", default-features = false }
async-trait = "0.1.58"
bcs = "0.1.3"
futures = "0.3.24"
futures-util = "0.3.26"
hex = "0.4.3"
linera-sdk = { path = "../linera-sdk" }
linera-views = { path = "../linera-views", default-features = false }
log = "0.4.20"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
thiserror = "1.0.38"
tokio = { version = "1.25.0", features = ["macros", "rt-multi-thread"] }
webassembly-test = "0.1.0"
num-bigint = "0.4.3"
num-traits = "0.2.16"

counter = { path = "./counter" }
crowd-funding = { path = "./crowd-funding" }
fungible = { path = "./fungible" }
amm = { path = "./amm" }
matching-engine = { path = "./matching-engine" }

[profile.release]
debug = true
lto = true
opt-level = 'z'
strip = 'debuginfo'

[profile.bench]
debug = true
