[package]
name = "linera-base"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[features]
test = ["test-strategy", "proptest"]

[dependencies]
bcs = "0.1.3"
bincode = "1.3.3"
futures = "0.3.17"
getset = "0.1.2"
generic-array = { version = "0.14.4", features = ["serde"] }
hex = "0.4.3"
log = "0.4.14"
rand = "0.7.3"
serde = { version = "1.0.130", features = ["derive"] }
ed25519 = "1.2.0"
ed25519-dalek = { version = "1.0.1", features = ["batch", "serde"] }
proptest = { version = "1.0.0", optional = true }
serde_json = "1.0.68"
serde-name = "0.2.0"
sha2 = "0.9.8"
structopt = "0.3.23"
tokio = { version = "1.12.0", features = ["sync"] }
thiserror = "1.0.31"
test-strategy = { version = "0.2.0", optional = true }

[dev-dependencies]
proptest = "1.0.0"
similar-asserts = "1.1.0"
serde-reflection = "0.3.5"
serde_yaml = "0.8.21"
test-strategy = "0.2.0"
