# Values for charts linera-validator for local validators.

# Linera
lineraImage: linera-test:latest
lineraImagePullPolicy: Never
logLevel: "debug"
proxyPort: 19100
numShards: 10

# Loki
loki-stack:
  loki:
    enabled: true
    isDefault: false
    persistence:
      enabled: true
      size: 1Gi
  promtail:
    enabled: true
    config:
      clients:
        - url: http://linera-core-loki:3100/loki/api/v1/push

# Prometheus/Grafana
kube-prometheus-stack:
  grafana:
    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
    persistence:
      enabled: true
      size: 1Gi

# Environment
environment: "kind"

# Validator
validator:
  serverConfig: "" # Is set by helmfile.
  genesisConfig: "" # Is set by helmfile.
