# Values for charts linera-validator for local validators.

# Linera
lineraImage: linera-local:latest-x86_64 # Will be overwritten by helmfile
lineraImagePullPolicy: Never
logLevel: "debug"
proxyPort: 19100
metricsPort: 21100
numShards: 10

# Loki
loki-stack:
  loki:
    enabled: true
    isDefault: false
    persistence:
      enabled: true
      size: 1Gi
  promtail:
    enabled: true
    config:
      clients:
        - url: http://linera-core-loki:3100/loki/api/v1/push

# Prometheus/Grafana
kube-prometheus-stack:
  grafana:
    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
    persistence:
      enabled: true
      size: 1Gi
  prometheus:
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: standard
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 1Gi

# Environment
environment: "kind"

# Validator
validator:
  serverConfig: "" # Is set by helmfile.
  genesisConfig: "" # Is set by helmfile.
