[package]
name = "{project_name}"
version = "0.1.0"
edition = "2021"

[dependencies]
async-graphql = {{ version = "7.0.2", default-features = false }}
{linera_sdk_dep}

[dev-dependencies]
{linera_sdk_dev_dep}

[[bin]]
name = "{contract_binary_name}"
path = "src/contract.rs"

[[bin]]
name = "{service_binary_name}"
path = "src/service.rs"

[profile.release]
debug = true
lto = true
opt-level = 'z'
strip = 'debuginfo'
