use linera_sdk::base::{{ContractAbi, ServiceAbi}};

pub struct {project_name}Abi;

impl ContractAbi for {project_name}Abi {{
    type Operation = ();
    type Response = ();
}}

impl ServiceAbi for {project_name}Abi {{
    type Query = ();
    type QueryResponse = ();
}}
