use linera_sdk::base::{ContractAbi, ServiceAbi};

pub struct ApplicationAbi;

impl ContractAbi for ApplicationAbi {
    type InitializationArgument = ();
    type Parameters = ();
    type Operation = ();
    type ApplicationCall = ();
    type Message = ();
    type SessionCall = ();
    type Response = ();
    type SessionState = ();
}

impl ServiceAbi for ApplicationAbi {
    type Query = ();
    type QueryResponse = ();
    type Parameters = ();
}