use linera_sdk::views::{linera_views, GraphQLView, RegisterView, RootView, ViewStorageContext};

#[derive(RootView, GraphQLView)]
#[view(context = "ViewStorageContext")]
pub struct Application {
    pub value: RegisterView<u64>,
    // Add fields here.
}
