use linera_sdk::views::{{linera_views, SyncRegisterView, SyncView, ViewStorageContext}};

#[derive(SyncView, async_graphql::SimpleObject)]
#[view(context = ViewStorageContext)]
pub struct {project_name}State {{
    pub value: SyncRegisterView<u64>,
    // Add fields here.
}}
