[package]
name = "linera-bridge"
description = "Bridge between Linera and EVM chains."
readme = "README.md"

authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]

[build-dependencies]
serde-generate = "0.32.0"
serde-reflection = { workspace = true }
serde_yaml = "0.8.26"

[dev-dependencies]
insta = { workspace = true, features = ["yaml"] }
linera-base = { workspace = true, features = ["test"] }
linera-chain.workspace = true
linera-execution.workspace = true
serde-reflection.workspace = true
