<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../wasmparser/type.ComponentAliasSectionReader.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../wasmparser/type.ComponentAliasSectionReader.html">../../../../wasmparser/type.ComponentAliasSectionReader.html</a>...</p>
    <script>location.replace("../../../../wasmparser/type.ComponentAliasSectionReader.html" + location.search + location.hash);</script>
</body>
</html>