[package]
name = "linera-storage"
description = "Storage abstractions for the Linera protocol."
readme = "README.md"
documentation = "https://docs.rs/linera-storage/latest/linera_storage/"

authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[features]
test = [
    "linera-base/test",
    "linera-chain/test",
    "linera-execution/test",
    "linera-views/test",
]
wasmer = ["linera-execution/wasmer"]
wasmtime = ["linera-execution/wasmtime"]
metrics = [
    "linera-base/metrics",
    "linera-chain/metrics",
    "linera-execution/metrics",
    "linera-views/metrics",
]
web = [
    "linera-base/web",
    "linera-chain/web",
    "linera-execution/web",
    "linera-views/web",
]

[dependencies]
async-trait.workspace = true
bcs.workspace = true
dashmap.workspace = true
futures.workspace = true
linera-base.workspace = true
linera-chain.workspace = true
linera-execution.workspace = true
linera-views.workspace = true
prometheus.workspace = true
serde.workspace = true

[dev-dependencies]
anyhow.workspace = true
linera-base = { workspace = true, features = ["test"] }
linera-chain = { workspace = true, features = ["test"] }
linera-storage = { path = ".", features = ["test"] }
linera-views = { workspace = true, features = ["test"] }

[build-dependencies]
cfg_aliases.workspace = true
