[package]
name = "linera-storage"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[dependencies]
async-trait = "0.1.52"
bcs = "0.1.3"
dashmap = "5.3.4"
futures = "0.3.17"
serde = { version = "1.0.130", features = ["derive"] }
tokio = "1.12.0"
log = "0.4.14"
rocksdb = "0.19.0"

linera-base = { path = "../linera-base" }
linera-chain = { path = "../linera-chain" }
linera-execution = { path = "../linera-execution" }
linera-views = { path = "../linera-views" }
