[package]
name = "linera-storage"
version = "0.10.0"
description = "Storage abstractions for the Linera protocol."
authors = ["Linera <contact@linera.io>"]
readme = "README.md"
repository = "https://github.com/linera-io/linera-protocol"
homepage = "https://linera.dev"
documentation = "https://docs.rs/linera-storage/latest/linera_storage/"
license = "Apache-2.0"
edition = "2021"

[features]
test = [
    "tokio/rt",
    "tokio/test-util",
    "tokio/time",
    "linera-execution/test",
    "linera-views/test",
]
wasmer = ["linera-execution/wasmer"]
wasmtime = ["linera-execution/wasmtime"]
dynamodb = ["linera-views/dynamodb"]
rocksdb = ["linera-views/rocksdb"]
scylladb = ["linera-views/scylladb"]
metrics = [
    "linera-base/metrics",
    "linera-chain/metrics",
    "linera-execution/metrics",
    "linera-views/metrics",
]
web = [
    "linera-base/web",
    "linera-chain/web",
    "linera-execution/web",
    "linera-views/web",
]

[dependencies]
async-trait.workspace = true
bcs.workspace = true
dashmap.workspace = true
futures.workspace = true
linera-base.workspace = true
linera-chain.workspace = true
linera-execution.workspace = true
linera-views.workspace = true
prometheus.workspace = true
serde.workspace = true
tempfile.workspace = true
tokio = { workspace = true, features = ["macros"] }
tracing.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
linera-storage-service.workspace = true

[dev-dependencies]
anyhow.workspace = true
linera-storage = { path = ".", features = ["test"] }

[build-dependencies]
cfg_aliases.workspace = true
