[package]
name = "linera-storage"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[dependencies]
async-trait = "0.1.52"
bcs = "0.1.3"
dyn-clone = "1.0.4"
either = "1.6.1"
futures = "0.3.17"
hex = "0.4.3"
ron = "0.7"
serde = { version = "1.0.130", features = ["derive"] }
serde-name = "0.2.0"
sha2 = "0.9.8"
tempfile = "3.2.0"
tokio = { version = "1.12.0", features = ["full"] }
log = "0.4.14"
rocksdb = "0.18.0"
moka = "0.8"

linera-base = { path = "../linera-base" }
