[package]
name = "linera-storage"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[features]
default = ["wasmer", "wasmtime"]
test = ["tokio/macros", "tokio/rt", "tokio/test-util"]
wasmer = ["linera-execution/wasmer"]
wasmtime = ["linera-execution/wasmtime"]
aws = ["linera-views/aws"]

[dependencies]
async-lock = "2.6.0"
async-trait = "0.1.52"
bcs = "0.1.3"
dashmap = "5.3.4"
futures = "0.3.17"
linera-base = { path = "../linera-base" }
linera-chain = { path = "../linera-chain" }
linera-execution = { path = "../linera-execution", default-features = false }
linera-views = { path = "../linera-views" }
metrics = "0.20.1"
tracing = "0.1.37"
rocksdb = "0.19.0"
serde = { version = "1.0.130", features = ["derive"] }
tokio = "1.22.0"

[dev-dependencies]
anyhow = "1.0.57"
linera-execution = { path = "../linera-execution", default-features = false, features = ["test"] }
linera-views = { path = "../linera-views", features = ["test"] }
tempfile = "3.2.0"
