[package]
name = "linera-storage"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[features]
test = ["anyhow"]

[dependencies]
anyhow = { version = "1.0.57", optional = true }
aws-config = "0.14.0"
aws-sdk-s3 = "0.14.0"
aws-types = "0.14.0"
aws-smithy-http = "0.44.0"
async-trait = "0.1.52"
bcs = "0.1.3"
either = "1.6.1"
futures = "0.3.17"
hex = "0.4.3"
http = "0.2.7"
ron = "0.7"
serde = { version = "1.0.130", features = ["derive"] }
serde-name = "0.2.0"
sha2 = "0.9.8"
tempfile = "3.2.0"
thiserror = "1.0.31"
tokio = { version = "1.12.0", features = ["full"] }
log = "0.4.14"
rocksdb = "0.18.0"
moka = "0.8"

linera-base = { path = "../linera-base" }
linera-views = { path = "../linera-views" }

[dev-dependencies]
anyhow = "1.0.57"
