[package]
name = "native-fungible"
version = "0.1.0"
authors = ["Linera <contact@linera.io>"]
edition = "2021"

[features]
test = []

[dependencies]
async-graphql.workspace = true
fungible.workspace = true
linera-sdk.workspace = true
serde.workspace = true

[dev-dependencies]
linera-sdk = { workspace = true, features = ["test", "wasmer"] }
native-fungible = { workspace = true, features = ["test"] }
test-log.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
tokio = { workspace = true }

[[bin]]
name = "native_fungible_contract"
path = "src/contract.rs"

[[bin]]
name = "native_fungible_service"
path = "src/service.rs"
