name: Kubernetes

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - '*.md'
  workflow_dispatch:

# This allows a subsequently queued workflow run to interrupt previous runs on pull-requests
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.run_id }}'
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTFLAGS: "-D warnings"
  RUSTUP_MAX_RETRIES: 10

permissions:
  contents: read

jobs:

  local-kind-deployment-integration-test:
    runs-on: ubuntu-latest-16-cores
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: Twey/setup-rust-toolchain@v1
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build client binary
        run: |
          cargo build --release --locked --bin linera --bin linera-proxy --bin linera-server --bin linera-db --features scylladb,rocksdb
          strip target/release/linera
          strip target/release/linera-proxy
          strip target/release/linera-server
          strip target/release/linera-db
      - name: Install Kind
        run: |
          curl -sL -o /tmp/kind https://kind.sigs.k8s.io/dl/v0.14.0/kind-linux-amd64
          chmod +x /tmp/kind
          mv /tmp/kind /usr/local/bin/
      - name: Install Kubectl
        run: |
          curl -sL -o /tmp/kubectl https://storage.googleapis.com/kubernetes-release/release/v1.24.1/bin/linux/amd64/kubectl
          chmod +x /tmp/kubectl
          mv /tmp/kubectl /usr/local/bin/
        # Build the docker image copying the already built binaries
      - name: Build Docker and deploy locally with Kind
        run: |
          cd kubernetes/linera-validator/working
          ../../../target/release/linera-server generate --validators ../../../configuration/k8s-local/validator_1.toml --committee committee.json
          ../../../target/release/linera --wallet /tmp/wallet.json --storage rocksdb:/tmp/linera.db create-genesis-config 10 --genesis genesis.json --initial-funding 100 --committee committee.json
          cd ..
          ./build_and_redeploy.sh --copy
      - name: Port Forward
        run: |
          kubectl get pods | grep proxy | awk '{ print $1 }' | xargs -I % kubectl port-forward % 19100:19100 &
      - name: Send sync-balance request
        run: |
          cd target/release
          ./linera --wallet /tmp/wallet.json --storage rocksdb:/tmp/linera.db sync-balance
      - name: Print client test logs
        # Always here means that this will run even if previous steps fail, same for the ones below
        if: always()
        run: |
          kubectl logs --tail 500 -l app=linera
      - name: Print proxy test logs
        if: always()
        run: |
          kubectl logs --tail 500 -l app=proxy
      - name: Print shards test logs
        if: always()
        run: |
          kubectl logs --tail 500 -l app=shards
      - name: Stop port forwarding
        if: always()
        run: |
          ps aux | grep port-forward | grep proxy | awk '{ print $2 }' | xargs kill -9
      - name: Delete cluster
        if: always()
        run: |
          kind delete cluster
