name: Kubernetes

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - '*.md'
  workflow_dispatch:

# This allows a subsequently queued workflow run to interrupt previous runs on pull-requests
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.run_id }}'
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTFLAGS: "-D warnings"
  RUSTUP_MAX_RETRIES: 10

permissions:
  contents: read

jobs:
  kind-deployment-e2e-tests:
    runs-on: ubuntu-latest-16-cores

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: Twey/setup-rust-toolchain@v1
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build client binary
        run: |
          cargo build --release --locked --bin linera --bin linera-proxy --bin linera-server --bin linera-db --features scylladb,rocksdb,kubernetes
          strip target/release/linera
          strip target/release/linera-proxy
          strip target/release/linera-server
          strip target/release/linera-db
      - name: Run Wasm e2e test
        uses: nick-fields/retry@v2
        with:
          # Port forwarding sometimes dies, which makes all requests timeout
          # Which is why we need retries
          max_attempts: 10
          timeout_minutes: 45
          command: kind get clusters | xargs -I {} kind delete cluster --name {} && cargo test --locked -p linera-service --features scylladb,kubernetes --test end_to_end_tests -- kubernetes
      - name: Destroy the kind clusters
        if: always()
        shell: bash
        run: >-
          kind get clusters | xargs -I {} kind delete cluster --name {}
