name: Lint check all features

on:
  push:
    branches: [ 'devnet_*', 'testnet_*' ]
  pull_request:
    paths:
      - '.github/workflows/lint-check-all-features.yml'
  merge_group:
  workflow_dispatch:

# This allows a subsequently queued workflow run to interrupt previous runs on pull requests
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.run_id }}'
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  # We allow redundant explicit links because `cargo rdme` doesn't know how to resolve implicit intra-crate links.
  RUSTDOCFLAGS: -A rustdoc::redundant_explicit_links -D warnings
  RUSTFLAGS: -D warnings --cfg=web_sys_unstable_apis
  RUSTUP_MAX_RETRIES: 10
  RUST_LOG: warn

permissions:
  contents: read

jobs:
  check-all-features-partition:
    runs-on: linera-io-self-hosted-ci
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        partition: [1, 2, 3]

    steps:
    - uses: actions/checkout@v4
    - name: Put lint toolchain file in place
      run: |
        ln -sf toolchains/nightly/rust-toolchain.toml
    - uses: actions-rust-lang/setup-rust-toolchain@v1
    - uses: taiki-e/install-action@cargo-hack
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Run cargo hack check (partition ${{ matrix.partition }}/3)
      run: |
        cargo hack check --each-feature --workspace --all-targets --partition ${{ matrix.partition }}/3

  lint-check-all-features:
    needs: check-all-features-partition
    runs-on: linera-io-self-hosted-ci
    if: always()
    steps:
    - run: |
        if [ "${{ needs.check-all-features-partition.result }}" != "success" ]; then
          exit 1
        fi
