name: LocalStack tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup
      run: |
        rustup toolchain install 1.60.0-x86_64-unknown-linux-gnu
    - name: Build
      run: cargo build
    - name: Setup LocalStack
      run: |
        docker run --rm -d --name localstack -p 4566:4566/tcp localstack/localstack
    - name: Run S3 tests
      env:
        AWS_REGION: us-east-1
        AWS_ACCESS_KEY_ID: test
        AWS_SECRET_ACCESS_KEY: test
        LOCALSTACK_ENDPOINT: http://localhost:4566
      run: cargo test -- --ignored s3
