name: Long Faucet chain test

on:
  push:
    branches: [ 'devnet_*', 'testnet_*' ]
  pull_request:
  merge_group:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  LINERA_STORAGE_SERVICE: 127.0.0.1:1235
  RUST_LOG: warn
  RUST_LOG_FORMAT: plain
  LINERA_TEST_ITERATIONS: 1000

jobs:
  long-faucet-chain-test:
    if: ${{ github.event_name == 'merge_group' }}
    runs-on: ubuntu-latest-16-cores
    timeout-minutes: 40

    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1
    - name: Clear up some space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: |
        cargo build --release -p linera-service
    - name: Run end-to-end tests
      run: |
        cargo run --release -p linera-storage-service -- memory --endpoint $LINERA_STORAGE_SERVICE &
        cargo test --release -p linera-service --features storage-service -- --ignored test_end_to_end_faucet_with_long_chains --nocapture
