name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: 1.60.0
        components: clippy, rustfmt
    - name: Report warnings as errors
      run: echo 'RUSTFLAGS=-D warnings' >> $GITHUB_ENV
    - uses: Swatinem/rust-cache@v1
    - name: Build
      run: cargo build --locked
    - name: Run tests
      run: cargo test --locked
    - name: Clippy
      run: cargo clippy --all-targets
    - name: Rustfmt
      run: cargo fmt -- --check --config unstable_features=true --config imports_granularity=Crate
