name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: 1.65.0
        components: clippy, rustfmt
    - name: Report warnings as errors
      run: echo 'RUSTFLAGS=-D warnings' >> $GITHUB_ENV
    - uses: Swatinem/rust-cache@v2
    - name: Rustfmt
      run: cargo fmt -- --check --config unstable_features=true --config imports_granularity=Crate
    - name: Clippy
      run: cargo clippy --all-targets
    - name: Build
      run: cargo build --locked
    - name: Run tests
      run: cargo test --locked

  check-for-unused-dependencies:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
    - name: Install cargo-udeps
      run: cargo install cargo-udeps --locked
    - name: Check for unused dependencies
      run: cargo +nightly udeps --all-targets
